doctype
html(ng-app="recovery-systems")
    head
        title Recovery Systems
        link(rel='stylesheet', type='text/css', href='/js/ng-grid.css')
        link(rel='stylesheet', type='text/css', href='/js/style.css')
        script(type="text/javascript", src='/js/jquery-2.1.1.min.js')
        script(type="text/javascript", src='/js/angular.js')
        script(type="text/javascript", src='/js/angular-file-upload.js')
        script(type="text/javascript", src='/js/ng-grid.js')
        script(type="text/javascript", src='/js/mainCtrl.js')
    body(ng-controller='mainCtrl')
        h1 Recovery Systems
        .gridStyle(ng-grid='gridOptions')
        br
        input(id='uploadFile', type='file')
        input(type='button', value='Submit', ng-click='onFileSelect()')